@import "../../styles/globals.scss";

* {
    font-family: 'Satoshi-Variable', sans-serif;
}

.container__input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    position: relative;
}

.input__form {
    font-family: $font-base;
    width: 100%;
    padding: 12px 18px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid #A2A1A850;
}

.input__form:focus {
    outline: 1px solid $brand2-500;
    color: $brand2-500;
}

.input__form:focus::placeholder {
    color: $brand2-500;
}


