@import '../../styles/globals.scss';

.filter__item {
    display: flex;
    position: relative;
    align-items: center;
    gap: 12px;
}


.checkbox__label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid $gray-80;
    transition: ease-in-out 0.2s;
    background-color: $white-100;
}

.checkbox__label--active {
    background-color: $brand2-500;
    border: 1px solid $brand2-500;
}

.item__checkbox input {
    display: none;
}

.item__name p {
    font-size: 18px;
    font-family: $font-base;
}