@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Satoshi-Variable";
  src:
    url("../assets/fonts/Satoshi/Satoshi-Variable.woff2") format("woff2"),
    url("../assets/fonts/Satoshi/Satoshi-Variable.woff") format("woff"),
    url("../assets/fonts/Satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

$dark-100: #16151c;
$dark-80: #16151c80;
$dark-20: #16151c20;

$gray-100: #a2a1a8;
$gray-80: #a2a1a880;
$gray-20: #a2a1a820;
$gray-10: #a2a1a810;
$gray-5: #a2a1a805;

$white-100: #ffffff;
$white-80: #ffffff80;
$white-20: #ffffff20;

$light-100: #d9e1e1;
$light-80: #d9e1e180;
$light-50: #d9e1e150;
$light-40: #d9e1e140;
$light-20: #d9e1e120;
$light-10: #d9e1e110;
$light-5: #d9e1e105;

// Paleta de Cores
$brand-500-5: #7152f305;
$brand-500-10: #7152f310;
$brand-500-20: #7152f320;
$brand-500: #7152f3;
$brand-800: #3517b4;
$brand-900: #250c92;

$brand2-500-5: #f8136e05;
$brand2-500-10: #f8136e10;
$brand2-500-20: #f8136e20;
$brand2-500-50: #f8136e50;
$brand2-500: #f8136e;
$brand2-800: #c60f58;

$yellow-100: #efbe12;
$yellow-5: #efbe1205;

$green-100: #3fc28a;
$green-5: #3fc28a05;

$red-100: #f45b69;
$red-5: #f45b6905;

// Tokens
$text-primary: $dark-100;
$text-brand: $brand-500;
$text-inverted: $white-100;
$text-placeholder: $gray-100;

$bg-brand: $brand-500;
$bg-primary: $white-100;
$bg-secondary: $gray-100;
$bg-inverted: $gray-100;

$text-mini: 10px;
$text-small: 13px;
$text-base: 16px;
$text-large: 20px;
$text-xl: 49px;
$text-2xl: 61px;

$font-base: "Satoshi-Variable", sans-serif;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
}
