@import "../../styles/globals.scss";

.calendar-day {
  text-align: center;
  padding: 12px;
  transition: background-color 0.2s ease;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 500;

  &:hover {
    background-color: $brand2-500-50;
    cursor: pointer;
  }

  &.today {
    background-color: $brand2-500; // cor para o dia de hoje
  }

  &.today > div {
    color: $white-100;
  }

  &.selected {
    outline: 1px solid $brand2-500; // cor para o dia selecionado
  }

  &.selected > div {
    color: $brand2-500;
  }
}

.event-day {
  background-color: $brand2-500-20; // cor para os dias com eventos
  color: $dark-100;
  border-radius: 10px;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
}
